@model StoreApp.Models.Article
@{
    ViewBag.Title = "Create Article";
}

<div class="columns">
    <div class="box p-5 column is-half is-offset-one-quarter">
        <h1 class="title">Create Article</h1>
        <form asp-action="Create">
            <div class="field">
                <label asp-for="Name" class="label"></label>
                <p class="control">
                    <input asp-for="Name" class="input" />
                </p>
                <p class="help is-danger"><span asp-validation-for="Name"></span></p>
            </div>
            <div class="field">
                <label asp-for="Price" class="label"></label>
                <p class="control">
                    <div class="field has-addons">
                        <p class="control">
                            <span class="button">$</span>
                        </p>
                        <p class="control is-expanded">
                            <input asp-for="Price" class="input" />
                        </p>
                    </div>
                </p>
                <p class="help is-danger"><span asp-validation-for="Price"></span></p>
            </div>
            <div class="field">
                <label asp-for="ExpirationDate" class="label"></label>
                <p class="control">
                    <input asp-for="ExpirationDate" class="input" type="date" />
                </p>
                <p class="help is-danger"><span asp-validation-for="ExpirationDate"></span></p>
            </div>
            <div class="field">
                <label asp-for="Category" class="label"></label>
                <p class="control">
                    <div class="select">
                        <select asp-for="Category" asp-items="Html.GetEnumSelectList<ArticleCategory>()">
                            <option disabled selected value=""></option>
                        </select>
                    </div>
                </p>
                <p class="help is-danger"><span asp-validation-for="Category"></span></p>
            </div>
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <a class="button is-warning is-light" asp-action="Index">Cancel</a>
                </p>
                <p class="control">
                    <input class="button is-success" type="submit" value="Create"/>
                </p>
            </div>
            <div asp-validation-summary="All" class="notification is-danger is-light"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
