@model StoreApp.Models.Article
@{
    ViewBag.Title = $"Delete Article #{Model.Id}";
}

<h1 class="title">Delete Article #@Model.Id</h1>
<h2 class="subtitle">Are you sure you want to delete this?</h2>
@{
    await Html.RenderPartialAsync("_ArticleInfo");
}
<form asp-action="Delete">
    <p class="buttons">
        <a class="button is-warning is-light" asp-action="Index">Cancel</a>
        <input type="submit" value="Delete" class="button is-danger" />
    </p>
</form>
