@model ArticleCreateViewModel

@{
    ViewBag.Title = "Create Article";
}

<h2>Create Article</h2>
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                    <option disabled selected value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="position-relative">
                    <input asp-for="Photo" class="form-control custom-file-input" accept=".jpg" id="preview-input" />
                    <label class="custom-file-label">Select an image...</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img alt="Preview" class="rounded ml-auto" id="preview-img" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_PreviewScriptPartial");
    }
}
