@model Article

@{
    ViewData["Title"] = $"Article #{Model.Id}";
}

<h2>Article #@Model.Id</h2>
<partial name="_ArticleDetails" />
<p>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a class="btn btn-secondary" asp-action="Index">Back</a>
</p>
