@model StoreApp.Models.Article
@{
    ViewBag.Title = $"Article #{Model.Id}";
}

<h1 class="title">Article #@Model.Id</h1>
@{
    await Html.RenderPartialAsync("_ArticleInfo");
}
<p class="buttons">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "button is-warning" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "button is-danger" })
</p>

@section NavbarEnd {
    <div class="navbar-item">
        <div class="buttons are-small">
            <a class="button is-light" asp-action="Index">Back</a>
        </div>
    </div>
}
