@{
    ViewBag.Title = "Gra";
}

<div class="alert alert-info centered" role="alert">
    <h4 class="alert-heading">Gra</h4>
    <p>Wylosowano nową liczbę z zakresu <code>[0, @ViewBag.Range)</code>!</p>
</div>
