@{
    ViewBag.Title = "Gra";
}

<div class="text-center">
    <h1>Gra</h1>
    <p class="lead font-weight-bold @ViewBag.ResultClass">@ViewBag.ResultText</p>
    <p>Próby: @ViewBag.GuessAttempts</p>
</div>
