@{
    ViewData["Title"] = "Lista 4";
}

<h1>Lista 4</h1>

<!-- Zadanie 1 -->
<p id="error-message"></p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat numquam rerum magni quisquam. Eius, inventore. Doloremque, dicta, accusamus ipsa inventore voluptate veniam numquam laudantium blanditiis dolorem deserunt vero vel doloribus.</p>
<table id="table"></table>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laboriosam amet ex, molestiae recusandae, voluptates voluptas fuga odit necessitatibus quas iusto voluptatum rerum rem facere cupiditate iste. Pariatur, voluptate hic.</p>

<!-- Zadanie 2 -->
<canvas width="400" height="300"></canvas>
<canvas></canvas>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, numquam cupiditate eos beatae corporis doloribus officiis? Harum quas blanditiis eos vel facere officia atque, tenetur eius est temporibus sequi vero?</p>
<canvas class="sized-canvas"></canvas>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore numquam rem consequatur blanditiis officiis quos asperiores praesentium, libero voluptatem accusamus, possimus deleniti quod aspernatur facilis, temporibus molestiae voluptatum ab.</p>
<canvas class="positioned-canvas"></canvas>
<canvas class="scaled-canvas" width="50" height="100"></canvas>
<div id="canvas-wrapper"></div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ex quam eius ipsa cum voluptas id maiores quos provident laudantium! Soluta natus quidem deleniti sapiente vitae saepe illum eaque autem!</p>
<p>Distinctio rerum culpa aliquid ex error amet, consequuntur, et autem mollitia tenetur nobis tempore est, deleniti itaque ad animi nesciunt pariatur? Veniam, dignissimos eos. Et soluta suscipit laudantium alias cum.</p>
<p>Quisquam reiciendis asperiores, pariatur quibusdam aliquam quia ipsum deleniti, sunt porro a laborum exercitationem ex eveniet totam, quis expedita earum aspernatur eligendi voluptate impedit hic! Provident non numquam laborum officia.</p>
<p>Minima dicta consequatur praesentium similique, reprehenderit voluptas aut quasi dolor consectetur quas magni beatae impedit necessitatibus ipsum possimus assumenda magnam facilis nisi eveniet dolores fugiat ad est doloremque? Unde, dolore?</p>
<p>Aspernatur, explicabo alias minus voluptatum non asperiores veritatis aut pariatur iste id inventore provident impedit quam illo odit, ducimus distinctio et, eligendi error sequi quidem corporis. Magnam vel corporis voluptates.</p>
<p>Repellat, accusamus est molestias praesentium minus consequatur! Distinctio necessitatibus, eveniet nam, praesentium quia omnis ipsum consequatur odio cumque aliquid asperiores. At doloremque exercitationem excepturi ipsam libero inventore laudantium incidunt iure.</p>
<p>Fugit non nobis sed rem dolorem, repudiandae sapiente enim molestiae necessitatibus nulla ab tempore quasi reiciendis rerum perspiciatis repellat consequatur impedit odit quia. Quod, nobis laboriosam ad repellat amet eaque.</p>
<p>Officiis facilis reiciendis modi saepe. Modi aspernatur id voluptatum magnam quasi animi, iste, delectus laudantium facilis dolorem officia sint. Dolorem inventore enim iste asperiores veniam exercitationem veritatis deserunt quae. Cum?</p>
<p>Qui odio natus illo blanditiis cumque iusto minima corporis a adipisci soluta impedit doloribus amet possimus tempore exercitationem dolorum numquam nesciunt ipsum, eligendi reiciendis perferendis. Quisquam commodi vero incidunt magnam!</p>
<p>Libero voluptates ratione, molestiae maxime dicta, dolorem velit modi ex hic eveniet blanditiis, commodi architecto! Fugiat recusandae enim veniam! Reiciendis minus quibusdam aliquid qui repudiandae, obcaecati in cumque distinctio fugit.</p>
