<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title | Store</title>
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold">
            Shop
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Articles
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Index
                    </a>
                    <a class="navbar-item">
                        Create
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        @RenderBody()
    </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            &copy; @DateTime.Now.Year Tomasz Chojnacki
        </p>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
