<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title | My Store</title>
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold is-size-5" asp-controller="Article" asp-action="Index">
            My Store
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" asp-controller="Article" asp-action="Index">
                Article Index
            </a>
            <a class="navbar-item" asp-controller="Article" asp-action="Create">
                Create Article
            </a>
        </div>
        <div class="navbar-end">
            @await RenderSectionAsync("NavbarEnd", required: false)
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        @RenderBody()
    </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            &copy; @DateTime.Now.Year Tomasz Chojnacki
        </p>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
