@{
    ViewBag.Title = "Błąd";
}

<h1 class="text-danger">Błąd</h1>
<p>Podano błędne argumenty równania kwadratowego!</p>
<p>Przykład użycia: <a asp-controller="Tool" asp-action="Solve" asp-route-a="1" asp-route-b="2" asp-route-c="-3">/Tool/Solve/1/2/-3</a>.</p>
