@{
    ViewBag.Title = "Gra";
}

<div class="alert alert-info centered" role="alert">
    <h4 class="alert-heading">Gra</h4>
    <p>Ustawiono nowy zakres: <code>[0, @ViewBag.NewRange)</code>!</p>
</div>
